/* Stili globali */
html {
    position: relative;
    min-height: 100%;
    background: linear-gradient(to right, #60d8f2, #072241);
}

body {
    margin-bottom: 60px;
}

/* Stili del form */
form {
    height: auto;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

/* Media query per dispositivi con larghezza <= 600px */
@media screen and (max-width: 600px) {
    form {
        padding: 30px 15px;
        width: 90%; /* Modifica la larghezza del form per adattarsi meglio ai dispositivi più piccoli */
    }
}

/* Stili per tutti gli elementi all'interno del form */
form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

/* Stili per gli h3 del form */
form h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 0;
}

/* Stili per le etichette del form */
label {
    display: block;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
}

/* Stili per gli input del form */
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07) !important;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

/* Stili per il pulsante di invio del form */
.btnSubmit {
    background-color: #ffffff !important;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btnSubmit:hover {
    background-color: #f2f2f2 !important;
}